[submodule "src/lld/dpdk/dpdk_src"]
	path = src/lld/dpdk/dpdk_src
	url = https://github.com/DPDK/dpdk.git
	ignore = dirty
[submodule "third-party/tdi"]
	path = third-party/tdi
	url = https://github.com/p4lang/tdi.git
	ignore = dirty
[submodule "third-party/ptf_grpc/ptf"]
	path = third-party/ptf_grpc/ptf
	url = https://github.com/p4lang/ptf
[submodule "third-party/gmock-global"]
	path = third-party/gmock-global
	url = https://github.com/apriorit/gmock-global.git
