[submodule "src/lld/dpdk/dpdk_src"]
	path = src/lld/dpdk/dpdk_src
	url = https://github.com/DPDK/dpdk.git
	ignore = all
[submodule "third-party/tdi"]
	path = third-party/tdi
	url = https://github.com/p4lang/tdi.git
[submodule "third-party/target-syslibs"]
	path = third-party/target-syslibs
	url = https://github.com/p4lang/target-syslibs.git
[submodule "third-party/target-utils"]
	path = third-party/target-utils
	url = https://github.com/p4lang/target-utils.git
