*.swp
*.swo
cscope*.out
ncscope*.out
cscope.files
tags
*~

# Files created by running "./autogen.sh"
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
doc/Makefile.in
include/Makefile.in
install-sh
ltmain.sh
missing
src/Makefile.in
m4/

# Files created by running "./configure"
*.deps/
Makefile
config.h
config.log
config.status
doc/Doxyfile
doc/DoxygenLayout.xml
doc/Makefile
include/Makefile
libtool
src/Makefile
stamp-h1
tools/run_exm_utest
py-compile

# Files created from a build
bf_switchd/bf_switchd
src/bf_rt/docs/Doxyfile
src/bf_rt/docs/DoxygenLayout.xml
src/lld/dpdk/infra/build/
unit-test/build
*.pyc
*.pyo
*.o
*.lo
*.a
*.la
.libs
.dirstamp
*.cmd
*.ko
*.mod.c
*.order
*.symvers
.tmp_versions
